body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 36px;

    border: 3px solid white;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;

    transition: all 1s;
}

a:before {
    content: 'YEAH!';
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    top: 0;
    background-color: #F44336;
    height: 100%;
    width: 100%;

    transform: translateY(-100%);
    transition: all 1s;
}

a:hover:before {
    transform: translateY(0);
}